body{
	background-color: #f7af0740;
	padding: 20px;
}
span{
	float: left;
	width: 500px;
	display: inline-block;
	padding: 20px;
	width: 500px;
	display: inline-block;
	padding: 20px;}

#main-page-header{
	background: #f7af0740;
	text-align: center;
	color: #fd370ae5 !important;
	text-transform: capitalize;
	padding: 10px;
	}
#headernav{
	font-size: 150%;
	text-align: center;
	word-spacing: 40px;
	font-variant: small-caps;
}
		a{
		color: #8a1c8aba;
		}
#span1{
	float: left;
	width: 20%;
	display: inline-block;
	padding: 20px;
	

}
#div2{
	float: left;
	width: 55%;
	display: inline-block;
	padding: 20px;
	margin-left: 1%;
	text-align:left;
	
}

#list1{
	 list-style: none;
	  text-align: center;
	  color: #8a1c8aba;
	  padding: 20px;
	  line-height: 1.5;
  	  background: #f7af0740	  
    }
#list1Heading{
		text-align: center;
		color: #fd370ae5;
		font-variant: small-caps;
		font-size: 150%;
		line-height: .1;
		}
#text1{
	line-height: 1.5;
	font-size: 16px;
	font-weight: 1.5;
	text-align: left;
}